/* .new{
    margin: 30px;
} */

.grenda{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 20px;
    padding-bottom: 10px;
}
.color{
    font-weight: bold;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family: initial; */
}
.ser{
    color: brown;
}
.new{
    color: gray;
    font-weight: bold;
}
.bg{
    background-color: rgb(243, 215, 190);
}
.cat{
    font-family: 'Nava Script', cursive;
}




