#team{
    padding: 80px 0;
    text-align: center;
}
.common-head h2{
    color: #5bc5f4;
}
.our{
    padding-top: 60px;
    font-family: fantasy;
}
.team-title{
    color: slategrey;
}
.team-img{
    position: relative;
}

.team-img .overly{
    position: absolute;
    content: '';
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    background: rgba(226, 62, 56, 0.5);
    border: 5px solid rgba(255, 255, 255, 0.5);
    transform: scale(0);
    transition: all linear .3s;
}

.team-img .overly ul li a{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    color: #fff;
}

.team-img .overly ul{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.main-team:hover .team-img .overly{
    transform: scale(1);
}

.team-text p{
    transform: scale(0);
}

.main-team:hover .team-text p{
    transform: scale(1);
}

.main-team{
    padding-top: 72px;
}

.main-team:hover{
    transform: translateY(-42px);
}

.main-team:hover .team-text{
    border: 2px solid #ddd;
}