* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.payment-body{
    width: 750px;
    height: 500px;
    border: 1px solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
}